# Git config file

# /etc/gitconfig
# ~/.gitconfig 
# /path/to/project/.git/config

[user]
	email = $EMAIL
	name = !bash -c '"echo \"$USER\";"'
[core]
	editor = vi
[color]
	ui = true
[alias]
	st = status
	lgg = log --graph --oneline --decorate --abbrev-commit --all
	ci = commit
	test = !bash -c '"echo \"User =  $USER\";"'
