# Git config file
## /etc/gitconfig  # global
## ~/.gitconfig  # local $USER
## /path/to/project/.git/config  # local project

[user]
	email = $EMAIL
	name = $USER
[core]
	editor = vim
[color]
	ui = true
[alias]
	st = status
	lgg = log --graph --oneline --decorate --abbrev-commit --all
	ci = commit
